{% extends "base.html" %}
{% load static %}
{% block blog %}
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h2>Галерея</h2>
                    <span>Будь как дома путник, но камень я не дам</span>
                </div> <!-- /.section-header -->
            </div> <!-- /.row -->
           <div class="projects-holder">
    <div class="row">
        {% for blog in blog_list %}
            <div class="col-md-4 project-item mix {{ blog.categories.all|join:" " }}">
                <!-- Весь блок project-thumb теперь является ссылкой -->
                <a href="{% url 'blog_detail' blog.pk %}" title="{{ blog.title }}">
                    <div class="project-thumb">
                        <img src="{{ blog.get_first_image_url }}" alt="{{ blog.title }}">
                    </div>
                </a>
                <div class="box-content project-detail">
                    <h2><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h2>
                    <p>{{ blog.truncated_summary }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

        </div>
    </div> <!-- /.inner-content -->
{% endblock %}