{% extends "base.html" %}
{% load static %}
{% block blog %}
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="section-header col-md-12">
                    <h2>Наш Блог</h2>
                    <span>Вот ведь и снег идет, и холодно — а все равно красиво. И на душе тепло</span>
                </div>
            </div>
            <div class="projects-holder">
                <div class="row">
                    {% for blog in blog_list %}
                        <div class="col-md-4 project-item mix {{ blog.categories.all|join:" " }}">
                            <div class="box-content project-detail">
                                <a href="{% url 'blog_detail' blog.pk %}">{{ blog.content.html|safe }}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}