{% load static %}
<header class="site-header container-fluid">
    <div class="top-header">
        <div class="logo col-md-6 col-sm-6">
            <h1><a href="{% url 'base' %}"><em>Evil</em>Islands</a></h1>
            <span>Добро пожаловать, или посторонним вход воспрещён!</span>
        </div> <!-- /.logo -->
        <div class="social-top col-md-6 col-sm-6">
            <ul>
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-linkedin"></a></li>
                <li><a href="#" class="fa fa-google-plus"></a></li>
                <li><a href="#" class="fa fa-flickr"></a></li>
                <li><a href="#" class="fa fa-rss"></a></li>
            </ul>
        </div> <!-- /.social-top -->
    </div> <!-- /.top-header -->
    <div class="main-header">
        <div class="row">
            <div class="main-header-left col-md-3 col-sm-6 col-xs-8">
                <a id="search-icon" class="btn-left fa fa-search" href="#search-overlay"></a>
                <div id="search-overlay">
                    <a href="#search-overlay" class="close-search"><i class="fa fa-times-circle"></i></a>
                    <div class="search-form-holder">
                        <h2>Type keywords and hit enter</h2>
                        <form id="search-form" action="#">
                            <input type="search" name="s" placeholder="" autocomplete="off"/>
                        </form>
                    </div>
                </div><!-- #search-overlay -->
                <a href="#" class="btn-left arrow-left fa fa-angle-left"></a>
                <a href="#" class="btn-left arrow-right fa fa-angle-right"></a>
            </div> <!-- /.main-header-left -->
            <div class="menu-wrapper col-md-9 col-sm-6 col-xs-4">
                <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                <ul class="sf-menu hidden-xs hidden-sm">
                    <li class="active"><a href="{% url 'base' %}">Домой</a></li>

                    <li><a href="#">Жми</a>
                        <ul>
                            <li><a href="{% url 'gallery' %}">Галерея</a></li>
                            <li><a href="{% url 'project-details' %}">О проекте</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Наш блог</a>
                        <ul>
                            <li><a href="{% url 'blog' %}">Блог</a></li>

                        </ul>
                    </li>
                    <!--  <li><a href="#">Галерея</a>
                                <ul>
                                    <li><a href="{% url 'our-team' %}">Our Team</a></li>
                                    <li><a href="{% url 'archives' %}">Archives</a></li>
                                    <li><a href="{% url 'grids' %}">Columns</a></li>

                                </ul>
                            </li>-->
                    <li><a href="{% url 'contact' %}">Контакты</a></li>
                </ul>
            </div> <!-- /.menu-wrapper -->
        </div> <!-- /.row -->
    </div> <!-- /.main-header -->
    <div id="responsive-menu">
        <ul>
            <li><a href="{% url 'base' %}">Домой</a></li>

            <li><a href="#">Projects</a>
                <ul>

                    <li><a href="{% url 'project-details' %}">Project Single</a></li>
                </ul>
            </li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </div>
</header>