{% load static %}
<header class="site-header container-fluid">
    <div class="top-header">
        <div class="logo col-md-6 col-sm-6">
            <h1><a href="{% url 'base' %}"><em>Evil</em>Islands</a></h1>
            <span>Будь как дома путник, но камень я не дам</span>
        </div>
    </div>
    <div class="main-header">
        <div class="row">
            <div class="main-header-left col-md-3 col-sm-6 col-xs-8">

                <!-- <a href="#" class="btn-left arrow-left fa fa-angle-left"></a>
                 <a href="#" class="btn-left arrow-right fa fa-angle-right"></a>-->
            </div>
            <div class="menu-wrapper col-md-9 col-sm-6 col-xs-4">
                <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                <ul class="sf-menu hidden-xs hidden-sm">
                    <li class="active"><a href="{% url 'base' %}">Домой</a></li>
                    <li><a href="{% url 'blog' %}">Блог</a></li>
                    <li><a href="{% url 'gallery' %}">Галерея</a></li>
                    <li><a href="{% url 'project-detail' %}">О проекте</a></li>
                    <li><a href="https://vk.com/evil_islands_jamaisvu">Наша группа в ВК</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="responsive-menu">
        <ul>
            <li><a href="{% url 'blog' %}">Блог</a></li>
            <li><a href="{% url 'gallery' %}">Галерея</a></li>
            <li><a href="{% url 'project-detail' %}">О проекте</a></li>
            <li><a href="https://vk.com/evil_islands_jamaisvu">Наша группа в ВК</a></li>
        </ul>
    </div>
</header>