{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">

    <button class="navbar-toggler btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand p-3 me-2" href="/">Домой</a>

    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'house_list' %}">Коттеджи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#visual_1">Визуализация двух этажного дома</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#visual_2">Этапы строительства</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'house_list' %}">Готовые дома на продажу</a>
            </li>
        </ul>

        <a class="btn btn-outline-primary" href="#">book now</a>
    </div>
</nav>
